In [1]:
import pandas as pd
import numpy as np
pd.plotting.register_matplotlib_converters()
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

### Titanic disaster
* **PassengerId:** Secuencia de registros en el dataset
* **Survived:** Sobrevivientes del desastre (1: survived 0: died)
* **pclass:** Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
* **sex:** Sex	
* **Age:** Age in years	
* **sibsp:** # of siblings / spouses aboard the Titanic	
* **parch:** # of parents / children aboard the Titanic	
* **ticket:** Ticket number	
* **fare:**	Passenger fare	
* **cabin:** Cabin number	
* **embarked:**	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

##### **Â¿Que queremos responder?** <br/> *Que tipos de personas lograron sobrevivir al desastre*

In [2]:
train_data = pd.read_csv('./data/train.csv', index_col='PassengerId')
train_data = train_data.drop('Name', axis=1)
print(f'rows and columns: {train_data.shape}')
#Analisis de los datos
train_data.head()

rows and columns: (891, 10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,female,35.0,1,0,113803,53.1000,C123,S
5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#Manejo de atributo (Pclass)  Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
#Tipo de atributo (Categorico ordinal)
data_uniques = train_data.Pclass.unique()
original_unique = train_data['Pclass'].unique()

order_classes = {
    np.int64(3): 0,
    np.int64(2): 1,
    np.int64(1): 2
}
train_data['Pclass'] = train_data['Pclass'].map(order_classes)
print(f"converted: {original_unique} -> {train_data['Pclass'].unique()}")
print("Entregandole mayor peso a 1ra clase")
train_data['Pclass']

converted: [3 1 2] -> [0 2 1]
Entregandole mayor peso a 1ra clase

PassengerId
1      0
2      2
3      0
4      2
5      0
      ..
887    1
888    2
889    0
890    2
891    0
Name: Pclass, Length: 891, dtype: int64